flow.json
[{"id":"73a4974f.91dea8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1287a127.3dfbef","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"53e15c4b.9d3384","type":"ui_group","z":"","name":"Default","tab":"1287a127.3dfbef","disp":true,"width":"6","collapse":false},{"id":"c55e2675.d0ce08","type":"beat","z":"73a4974f.91dea8","name":"","output":"beat","bpm":"","latency":0,"subBeats":[],"x":230,"y":100,"wires":[["4182e6ec.4c3e08"]]},{"id":"2dd46c34.c770a4","type":"inject","z":"73a4974f.91dea8","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["c55e2675.d0ce08"]]},{"id":"9d3ff55b.03b0c8","type":"inject","z":"73a4974f.91dea8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":100,"wires":[["c55e2675.d0ce08"]]},{"id":"5328564b.7967a8","type":"inject","z":"73a4974f.91dea8","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["c55e2675.d0ce08"]]},{"id":"4182e6ec.4c3e08","type":"divider","z":"73a4974f.91dea8","name":"bar","input":"beat","output":"bar","ratio":4,"x":370,"y":100,"wires":[["239998a9.9a8098"]]},{"id":"239998a9.9a8098","type":"divider","z":"73a4974f.91dea8","name":"section","input":"bar","output":"section","ratio":"8","x":520,"y":100,"wires":[["64d3e104.a429a"]]},{"id":"64d3e104.a429a","type":"link out","z":"73a4974f.91dea8","name":"beat generator","links":["52699e6a.2c8e4","f2ef46c6.175118"],"x":695,"y":100,"wires":[]},{"id":"8bcc3975.6e2ed8","type":"udp out","z":"73a4974f.91dea8","name":"","addr":"127.0.0.1","iface":"","port":"57110","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":360,"y":580,"wires":[]},{"id":"a950d103.40fe7","type":"osc","z":"73a4974f.91dea8","name":"","path":"","metadata":false,"x":180,"y":580,"wires":[["8bcc3975.6e2ed8"]]},{"id":"53dcaf98.122c9","type":"link in","z":"73a4974f.91dea8","name":"supercollider","links":["7e143dd3.067254"],"x":75,"y":580,"wires":[["a950d103.40fe7"]]},{"id":"2ab1cef8.caca92","type":"link in","z":"73a4974f.91dea8","name":"reverb supercollider","links":["4f2b4990.028ce8"],"x":75,"y":460,"wires":[["3fcf3a47.d16db6"]]},{"id":"3fcf3a47.d16db6","type":"soundfx","z":"73a4974f.91dea8","fxtype":"reverb","fxtypes":{"reverb":{"inBus":4},"delay":{"inBus":6},"LPF":{"inBus":8},"HPF":{"inBus":10},"drop":{"inBus":12}},"x":170,"y":460,"wires":[["a950d103.40fe7"]]},{"id":"a230aee4.5b895","type":"link in","z":"73a4974f.91dea8","name":"delay supercollider","links":["d2cbede4.e4f87"],"x":75,"y":520,"wires":[["c43f0cb6.529d2"]]},{"id":"c43f0cb6.529d2","type":"soundfx","z":"73a4974f.91dea8","fxtype":"delay","fxtypes":{"reverb":{"inBus":4},"delay":{"inBus":6},"LPF":{"inBus":8},"HPF":{"inBus":10},"drop":{"inBus":12}},"x":170,"y":520,"wires":[["a950d103.40fe7"]]},{"id":"f2ef46c6.175118","type":"link in","z":"73a4974f.91dea8","name":"","links":["64d3e104.a429a"],"x":75,"y":200,"wires":[["934cc1f2.682d"]]},{"id":"934cc1f2.682d","type":"sequencer","z":"73a4974f.91dea8","name":"sequencer","input":"beat","notesrand":true,"rhythm":"[8,10,13,15]","rhythmrand":true,"loop":true,"start":"bar","output":"single","controls":[{"name":"note","values":"[1,2,3,4,5,6,7,8]"},{"name":"volume","values":"[50,60,80]"}],"x":210,"y":200,"wires":[["2d8c4462.e7df6c"],[]]},{"id":"2d8c4462.e7df6c","type":"synth","z":"73a4974f.91dea8","name":"","synthtype":"newnotes","tuned":"tuned","volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":391.01422119140625,"y":210.09658813476562,"wires":[["4f2b4990.028ce8"]]},{"id":"4f2b4990.028ce8","type":"link out","z":"73a4974f.91dea8","name":"","links":["2ab1cef8.caca92"],"x":590.0142211914062,"y":218.09658813476562,"wires":[]},{"id":"fc7a74f4.5b1218","type":"sequencer","z":"73a4974f.91dea8","name":"sequencer","input":"beat","notesrand":false,"rhythm":"[1]","rhythmrand":false,"loop":true,"start":"beat","output":"single","controls":[{"name":"note","values":"[[7,11],[4,8],[1,5]]"}],"x":290,"y":360,"wires":[["d9b339ab.cf1cc8","67eac49.ca4dd3c"],[]]},{"id":"d9b339ab.cf1cc8","type":"synth","z":"73a4974f.91dea8","name":"","synthtype":"piano","tuned":"tuned","volume":"30","octave":"-1","root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":510,"y":320,"wires":[["d2cbede4.e4f87"]]},{"id":"d2cbede4.e4f87","type":"link out","z":"73a4974f.91dea8","name":"","links":["a230aee4.5b895"],"x":675,"y":320,"wires":[]},{"id":"c2608da9.dc91f","type":"ui_button","z":"73a4974f.91dea8","name":"","group":"53e15c4b.9d3384","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"tick","payloadType":"str","topic":"","x":70,"y":240,"wires":[["400e31e0.1b562"]]},{"id":"400e31e0.1b562","type":"change","z":"73a4974f.91dea8","name":"","rules":[{"t":"set","p":"start","pt":"msg","to":"[\"beat\"]","tot":"json"},{"t":"set","p":"bpm","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":300,"wires":[["fc7a74f4.5b1218"]]},{"id":"67eac49.ca4dd3c","type":"synth","z":"73a4974f.91dea8","name":"","synthtype":"fmtanh","tuned":"tuned","volume":"10","octave":"-1","root":"","scale":"","degree":"","outBus":0,"synthtypes":{"ambi_choir":{},"ambi_dark_woosh":{},"ambi_drone":{"tuned":true,"midibase":60},"ambi_glass_hum":{"tuned":true,"midibase":57},"ambi_glass_rub":{"tuned":true,"midibase":66},"ambi_haunted_hum":{"tuned":true,"midibase":63.25},"ambi_lunar_land":{},"ambi_piano":{"tuned":true,"midibase":58},"ambi_sauna":{},"ambi_soft_buzz":{"tuned":true,"midibase":54.45},"ambi_swoosh":{},"arpy":{"tuned":true},"bass_dnb_f":{"tuned":true,"midibase":53},"bass_drop_c":{"tuned":true,"midibase":48},"bass_hard_c":{"tuned":true,"midibase":48},"bass_hit_c":{"tuned":true,"midibase":51},"bass_thick_c":{"tuned":true,"midibase":48},"bass_trance_c":{"tuned":true,"midibase":48},"bass_voxy_c":{"tuned":true,"midibase":48},"bass_voxy_hit_c":{"tuned":true,"midibase":48},"bass_woodsy_c":{"tuned":true,"midibase":48},"bd_808":{},"bd_ada":{},"bd_boom":{},"bd_fat":{},"bd_gas":{},"bd_haus":{},"bd_klub":{},"bd_mehackit":{},"bd_pure":{},"bd_sone":{},"bd_tek":{},"bd_zome":{},"bd_zum":{},"bass0":{},"bass2":{"tuned":true,"midibase":64},"bass3":{"tuned":true,"midibase":57},"bass":{"tuned":true,"midibase":55},"bd":{},"bell":{"tuned":true,"synth":true},"birds3":{},"blip":{"tuned":true},"bottle":{},"can":{},"cr":{},"crotale":{"synth":true},"crow":{},"diphone2":{},"drum":{},"drum_bass_hard":{},"drum_bass_soft":{},"drum_cowbell":{},"drum_cymbal_closed":{},"drum_cymbal_hard":{},"drum_cymbal_open":{},"drum_cymbal_pedal":{},"drum_cymbal_soft":{},"drum_heavy_kick":{},"drum_roll":{},"drum_snare_hard":{},"drum_snare_soft":{},"drum_splash_hard":{},"drum_splash_soft":{},"drum_tom_hi_hard":{},"drum_tom_hi_soft":{},"drum_tom_lo_hard":{},"drum_tom_lo_soft":{},"drum_tom_mid_hard":{},"drum_tom_mid_soft":{},"drumtraks":{},"dulcimer":{"tuned":true,"synth":true},"dx":{"tuned":true,"synth":true},"elec_beep":{},"elec_bell":{"tuned":true,"midibase":53},"elec_blip":{"tuned":true,"midibase":62},"elec_blip2":{"tuned":true,"midibase":62},"elec_blup":{},"elec_bong":{},"elec_chime":{},"elec_cymbal":{},"elec_filt_snare":{},"elec_flip":{"tuned":true,"midibase":60},"elec_fuzz_tom":{},"elec_hi_snare":{},"elec_hollow_kick":{},"elec_lo_snare":{},"elec_mid_snare":{},"elec_ping":{"tuned":true,"midibase":69},"elec_plip":{},"elec_pop":{"tuned":true,"midibase":60},"elec_snare":{},"elec_soft_kick":{"tuned":true,"midibase":41},"elec_tick":{"tuned":true,"midibase":60},"elec_triangle":{},"elec_twang":{},"elec_twip":{},"elec_wood":{},"feel":{},"flick":{"tuned":true},"fmtanh":{"tuned":true,"synth":true},"future":{},"gabba":{},"ghost":{"tuned":true,"synth":true},"glitch_bass_g":{"tuned":true,"midibase":55},"glitch_perc1":{},"glitch_perc2":{},"glitch_perc3":{},"glitch_perc4":{},"glitch_perc5":{},"glitch_robot1":{},"glitch_robot2":{},"gretsch":{},"guit_e_fifths":{"tuned":true,"midibase":52},"guit_e_slide":{"tuned":true,"midibase":64},"guit_em9":{"tuned":true,"midibase":52},"guit_harmonics":{"tuned":true,"midibase":64},"h":{},"hc":{},"hh":{},"ho":{},"house":{},"industrial":{},"jazz":{},"jvbass":{"tuned":true,"midibase":54},"kick":{"synth":true},"kurt":{"tuned":true,"midibase":64},"latibro":{},"less":{},"lighter":{},"lt":{"tuned":true},"marimba":{"tuned":true,"synth":true},"mehackit_phone1":{},"mehackit_phone2":{},"mehackit_phone3":{},"mehackit_phone4":{},"mehackit_robot1":{},"mehackit_robot2":{},"mehackit_robot3":{},"mehackit_robot4":{},"mehackit_robot5":{},"mehackit_robot6":{},"mehackit_robot7":{},"metal":{},"misc_burp":{},"misc_cineboom":{},"misc_clap":{},"misc_crow":{},"moog":{"tuned":true,"synth":true},"mouth":{},"mt":{},"newnotes":{"tuned":true,"midibase":61},"odx":{},"off":{"tuned":true,"midibase":61},"perc":{},"perc_bell":{},"perc_bell2":{},"perc_door":{},"perc_impact1":{},"perc_impact2":{},"perc_snap":{},"perc_snap2":{},"perc_swash":{},"perc_swoosh":{},"perc_till":{},"piano":{"tuned":true,"synth":true},"pluck":{"tuned":true,"midibase":58},"print":{},"prophet":{"tuned":true,"synth":true},"psr":{"tuned":true,"midibase":53},"rm":{},"short":{},"sid":{},"sn":{},"sn_dolf":{},"sn_dub":{},"sn_generic":{},"sn_zome":{},"snare":{"synth":true},"stab":{},"tabla":{},"tabla_dhec":{},"tabla_ghe1":{},"tabla_ghe2":{},"tabla_ghe3":{},"tabla_ghe4":{},"tabla_ghe5":{},"tabla_ghe6":{},"tabla_ghe7":{},"tabla_ghe8":{},"tabla_ke1":{},"tabla_ke2":{},"tabla_ke3":{},"tabla_na":{},"tabla_na_o":{},"tabla_na_s":{},"tabla_re":{},"tabla_tas1":{},"tabla_tas2":{},"tabla_tas3":{},"tabla_te1":{},"tabla_te2":{},"tabla_te_m":{},"tabla_te_ne":{},"tabla_tun1":{},"tabla_tun2":{},"tabla_tun3":{},"tink":{},"trump":{"tuned":true,"midibase":59},"ul":{"tuned":true},"vinyl_backspin":{},"vinyl_hiss":{},"vinyl_rewind":{},"vinyl_scratch":{},"voodoo":{}},"x":480,"y":380,"wires":[["d2cbede4.e4f87"]]},{"id":"a1710643.47af38","type":"setting","z":"73a4974f.91dea8","name":"","setting":"key","initial":"D mixolydian","global":true,"min":"","max":"","x":510,"y":500,"wires":[[]]}]